microservice-chart:
  namespace: "gps"
  nameOverride: ""
  fullnameOverride: ""
  image:
    repository: ghcr.io/pagopa/pagopa-gpd-payments
    tag: "0.12.51-PIDM-1277-riduz-log"
    pullPolicy: Always
  livenessProbe:
    httpGet:
      path: /actuator/health/liveness
      port: 8080
    initialDelaySeconds: 90
    failureThreshold: 6
    periodSeconds: 10
  readinessProbe:
    httpGet:
      path: /actuator/health/readiness
      port: 8080
    initialDelaySeconds: 90
    failureThreshold: 6
    periodSeconds: 10
  deployment:
    create: true
    replicas: 3 # same as HPA minReplica
    strategy:
      type: RollingUpdate
      rollingUpdate:
        maxUnavailable: 0
        maxSurge: 1
  service:
    create: true
    type: ClusterIP
    ports:
      - 8080
  ingress:
    create: true
    host: "weuprod.gps.internal.platform.pagopa.it"
    path: /pagopa-gpd-payments/(.*)
    servicePort: 8080
  serviceAccount:
    create: false
    annotations: {}
    name: "gps-workload-identity"
  azure:
    workloadIdentityClientId: <workload-identity-client-id-set-automatically-by-gha>
  podAnnotations: {}
  podSecurityContext:
    seccompProfile:
      type: RuntimeDefault
  securityContext:
    allowPrivilegeEscalation: false
  resources:
    requests:
      memory: "512Mi"
      cpu: "0.3"
    limits:
      memory: "1024Mi"
      cpu: "0.75"
  autoscaling:
    enable: true
    minReplica: 3
    maxReplica: 10
    pollingInterval: 10 # seconds
    cooldownPeriod: 50 # seconds
    triggers:
      - type: cpu
        metadata:
          # Required
          type: Utilization # Allowed types are 'Utilization' or 'AverageValue'
          value: "75"
  envConfig:
    ENV: 'prod'
    WEBSITE_SITE_NAME: 'pagopa-p-gpd-payments-service'
    PAA_ID_INTERMEDIARIO: "15376371009"
    PAA_STAZIONE_INT: "15376371009_01"
    RETRY_MAX_DELAY: "1000"
    RETRY_MAX_ATTEMPTS: "2"
    RETRY_MULTIPLIER: "2"
    CONNECTION_TIMEOUT: "3000"
    LOGGING_LEVEL: "INFO"
    FEIGN_LOG_LEVEL: "BASIC"
    CACHE_SIZE: "1000"
    CACHE_EXPIRATION_TIME: "1d"
    AZURE_TABLES_TABLENAME: "gpdpaymentsreceiptstable"
    API_CONFIG_HOST: "https://api.platform.pagopa.it/apiconfig/auth/api/v1"
    GPS_HOST: "https://api.platform.pagopa.it/spontaneous-payments-service/v1"
    GPD_HOST: "https://api.platform.pagopa.it/gpd/api/v1"
    API_CONFIG_CACHE_HOST: "https://api.platform.pagopa.it/api-config-cache/p/v1"
    QUEUE_NAME: "gpd-receipt-poison-queue"
    DEQUEUE_LIMIT: "5"
    QUEUE_SEND_INVISIBILITY_TIME: "120"
    QUEUE_RECEIVE_INVISIBILITY_TIME: "300"
    CRON_JOB_SCHEDULE_RETRY_ENABLED: "true"
    CRON_JOB_SCHEDULE_RETRY_TRIGGER: "0 0 0,6,12,18 * * *"
    SERVICE_NAME: "pagopa-gpd-payments"
    CONFIG_CACHE_EVENTHUB_NAME: "pagopa-p-weu-core-evh-ns04"
    # List of stations for which "Not Found" or "Duplicated Receipt" errors are ignored: response override with "OK".
    SUPPRESSED_ERRORS_STATIONS: "15376371009_11"
    SUPPRESSED_ERRORS_VALUES: "PAA_PAGAMENTO_SCONOSCIUTO,PAA_RECEIPT_DUPLICATA"
  envSecret:
    # required
    APPLICATIONINSIGHTS_CONNECTION_STRING: 'ai-p-connection-string'
    APICONFIG_SUBSCRIPTION_KEY: "gpd-p-apiconfig-subscription-key"
    GPD_SUBSCRIPTION_KEY: "gpd-p-gpd-subscription-key"
    GPS_SUBSCRIPTION_KEY: "gpd-p-gps-subscription-key"
    CONFIG_CACHE_SUBSCRIPTION_KEY: "gpd-p-config-cache-subkey"
    AZURE_TABLES_CONNECTION_STRING: "gpd-payments-p-cosmos-connection-string"
    QUEUE_CONNECTION_STRING: "gpd-payments-p-queue-connection-string"
    CONFIG_CACHE_EVENTHUB_CONN_STRING: "config-cache-event-hub-connection-string-for-aca-payments-rx"
  keyvault:
    name: "pagopa-p-gps-kv"
    tenantId: "7788edaf-0346-4068-9d79-c868aed15b3d"
  nodeSelector: {}
  tolerations: []
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
              - key: node_type
                operator: In
                values:
                  - user
    podAntiAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
        - weight: 100
          podAffinityTerm:
            labelSelector:
              matchLabels:
                app.kubernetes.io/instance: pagopagpdpayments
            namespaces: ["gps"]
            topologyKey: topology.kubernetes.io/zone
  canaryDelivery:
    create: false
    ingress:
      create: true
      canary:
        type: header
        headerName: X-Canary
        headerValue: canary
        weightPercent: 0
    service:
      create: true
    deployment:
      create: true
      image:
        repository: ghcr.io/pagopa/pagopa-gpd-payments
        tag: "0.8.0-1-PAGOPA-1140-sviluppo-gpd-payments-gestione-enti-pluri-intermediati"
        pullPolicy: Always
      envConfig: {}
      envSecret: {}
